<h1>User Page</h1>
<p>
  This is the home page for the general user for the  
    <a href="http://outsmart.proteus-technologies.com">Proteus Technologies Outsmart Challenge Program</a>
    application.
    </p>
    <h2>Current Problem</h2>
       <% if @current_problem %>
         <% p = @current_problem %> 
         <% rndr = Redcarpet::Render::HTML.new :hard_wrap => true, :autolink => true, :fenced_code_blocks => true, :lax_html_blocks => true %>
         <% md = Redcarpet::Markdown.new(rndr) %>
    <table>
      <tr>
        <td><b>Title:</b></td>
        <td> <%= p.title %></td>
      </tr>
      <tr>
        <td><b>Submition Deadline:</b></td>
        <td><%= p.end_date%></td>
      </tr>
    </table>
    <%= md.render(p.text_description).html_safe %>
  <% else%>
    <p> No problems at this time.</p>
  <%end%>

  <h2>Enter Solution</h2>

    <% if user_signed_in? %>
      <%= link_to 'Enter a new solution', new_solution_path %>
    <% else %>
      <p>Need to log-in in order to enter a solution</p>
    <% end %>

    <% if user_signed_in? %>
      <br/><br/><br>
      <h2>Previously Submitted Solutions:</h2>
      <table>
        <tr>
          <th>Solution file url</th>
          <th>Text description</th>
          <th>Problem id</th>
          <th>Problem title</th>
        </tr>
        <% @solutions.each do |solution| %>
          <tr>
            <td><%= solution.solution_file_url %></td>
            <td><%= solution.text_description %></td>
            <td><%=solution.problem_ID %></td>
            <% pid = solution.problem_ID %>
            <% cp = @problems.find(pid) %>
            <td><%= cp.try(:title) %></td>
          </tr>
        <% end %>
      </table>
    <% end %>

    <br/><br/><br/>
    <% if user_signed_in? %>
      <%= link_to('log-out', destroy_user_session_path, :method => :delete) %>
      <% if current_user.is_admin? %>
        <%= link_to 'Admin Page', admin_path %>
      <% end %>
    <% else %>
      <%= link_to 'log-in',new_user_session_path %> |
      <%= link_to 'register', new_user_registration_path %>.
    <% end %>
