<h1>User Page</h1>
<p>
  This is the home page for the general user for the  
    <a href="http://outsmart.proteus-technologies.com">Proteus Technologies Outsmart Challenge Program</a>
    application.
    </p>
    <h2>Current Problem</h2>
       <% if !@problems.empty? %>
    <%p = @problems.last%> 
    <table>
      <tr>
        <td>Title: </td>
        <td> <%= p.title %></td>
      </tr>
      <tr>
        <td>Submition Deadline: </td>
        <td><%= p.end_date%></td>
      </tr>
      <tr>
        <td><%= p.text_description%></td>
      </tr>
    </table>
  <% else%>
    <p> No problems at this time.</p>
  <%end%>

    <h2>Enter Solution</h2>
    <% if user_signed_in? %>
      <p>You're signed in!</p>
      <%= link_to('log-out', destroy_user_session_path, :method => :delete) %>
    <% else %>
    <p>Need to log-in in order to enter a solution</p>
    <%= link_to 'log-in',new_user_session_path %>
    <%= link_to 'register', new_user_registration_path %>.
  <%end%>
