<h1>Editing problem</h1>

<%= render 'form' %>

<%= link_to 'Show', @problem %> |
<%= link_to 'Admin Home', admin_path %> |
<%= link_to 'Home', root_path %> |
<%= link_to 'Problems Home', problems_path %>
