<h1>Editing problem</h1>

<%= render 'form' %>

<%= link_to 'Markdown Syntax', "http://daringfireball.net/projects/markdown/syntax", :target => "_blank" %>
<br/><br/><br/>
<%= link_to 'Show', @problem %> |
<%= link_to 'Admin Home', admin_path %> |
<%= link_to 'Home', root_path %> |
<%= link_to 'Problems Home', problems_path %>
