<h1>Problems Created</h1>

<table cellpadding="5" style="text-align:center">
  <tr>
    <th>Title</th>
    <th>Start date</th>
    <th>End date</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @problems.each do |problem| %>
  <tr>
    <td><%= problem.title %></td>
    <td><%= problem.start_date %></td>
    <td><%= problem.end_date %></td>
    <td><%= problem.user_id %></td>
    <td><%= link_to 'Show', problem %></td>
    <td><%= link_to 'Edit', edit_problem_path(problem) %></td>
    <td><%= link_to 'Destroy', problem, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Problem', new_problem_path %>
<%= link_to 'Admin Home', admin_path %>
