<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @problem.title %>
</p>

<p>
  <b>Text description:</b>
  <% rndr = Redcarpet::Render::HTML.new :hard_wrap => true, :autolink => true, :fenced_code_blocks => true, :lax_html_blocks => true %>
  <% md = Redcarpet::Markdown.new(rndr) %>
  <%= md.render(@problem.text_description).html_safe %>

  <%# The syntax below didn't work for various reasons. The last one is without Markdown %>
  <%# raw Redcarpet.new(@problem.text_description).to_html %>
  <%# markdown.render(@problem.text_description).html_safe %>
  <%# markdown(@problem.text_description) %>
  <%# @problem.text_description %>
</p>

<p>
  <b>Start date:</b>
  <%# Format the time so it's Sunday, May 03 at 23:59 %>
  <%= @problem.start_date.strftime('%A, %B %d at %H:%M')%>
</p>

<p>
  <b>End date:</b>
  <%= @problem.end_date.strftime('%A, %B %d at %H:%M')%>
</p>

<p>
  <b>Admin Creator:</b>
  <%= @problem.user_id %>
</p>
<p>
  <b>Solutions:</b>
  <%# Set up the Markdown %>
  <% rndr_sol = Redcarpet::Render::HTML.new :hard_wrap => true, :autolink => true, :fenced_code_blocks => true, :lax_html_blocks => true %>
  <% md_sol = Redcarpet::Markdown.new(rndr_sol) %>
  <table>
    <tr>
      <th>Text Description</th>
      <th>User ID</th>
      <th>Solution File URL</th>
      <th></th>
    </tr>
    <% @problem.solutions.each do |s| %>
    <tr>
      <%# s.text_description #without Markdown %>
      <td><%= md.render(s.text_description).html_safe %></td>
      <td><%= s.user_ID %></td>
      <td><%= s.solution_file_url %></td>
      <td><%= link_to 'Delete Solution', s, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
    <% end %>
  </table>
</p>

<%= link_to 'Edit', edit_problem_path(@problem) %> |
<%= link_to 'Problems Home', problems_path %> | 
<%= link_to 'Admin Home', admin_path %>
