<h1>Listing users</h1>

<table>
  <tr>
    <th>User id</th>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Password</th>
    <th>Is admin</th>
    <th>Solution id</th>
    <th>Problem id</th>
    <th>Creation date</th>
    <th>Updated date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.User_ID %></td>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.phone %></td>
    <td><%= user.password %></td>
    <td><%= user.Is_Admin %></td>
    <td><%= user.Solution_ID %></td>
    <td><%= user.Problem_ID %></td>
    <td><%= user.creation_date %></td>
    <td><%= user.updated_date %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
