<%= form_for(@solution) do |f| %>
  <% if @solution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@solution.errors.count, "error") %> prohibited this solution from being saved:</h2>

      <ul>
      <% @solution.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :solution_file_url %><br />
    <%= f.text_field :solution_file_url %>
  </div>
  <div class="field">
    <%= f.label :text_description %><br />
    <%= f.text_area :text_description %>
  </div>
<%# if false %>
  <div class="field">
    <%= f.label :user_ID %><br />
    <% cu = current_user %>
    <% @solution.user_ID = cu.id %>
    <%= f.number_field :user_ID %>
  </div>
  <div class="field">
    <%= f.label :problem_ID %><br />
    <% p = @problems.last %>
    <% @solution.problem_ID = p.id %>
    <%= f.number_field :problem_ID %>
  </div>
<%# end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
