<h1>Editing solution</h1>

<%= render 'form' %>

<%= link_to 'Show', @solution %> |
<%= link_to 'Admin Home', admin_path %> |
<%= link_to 'Home', root_path %> |
<%= link_to 'Solutions Home', solutions_path %>
