<p id="notice"><%= notice %></p>

<p>
  <b>Solution file url:</b>
  <%= @solution.solution_file_url %>
</p>

<p>
  <b>Text description:</b>
  <%#= @solution.text_description #without Markdown %>
  <% rndr = Redcarpet::Render::HTML.new :hard_wrap => true, :autolink => true, :fenced_code_blocks => true, :lax_html_blocks => true %>
  <% md = Redcarpet::Markdown.new(rndr) %>
  <%= md.render(@solution.text_description).html_safe %>
</p>

<p>
  <b>User id:</b>
  <%= @solution.user_ID %>
</p>

<p>
  <b>Problem id:</b>
  <%= @solution.problem_ID %>
</p>

<%= link_to 'Edit', edit_solution_path(@solution) %> |
<%= link_to 'Admin Home', admin_path %> |
<%= link_to 'Home', root_path %> |
<%= link_to 'Solutions Home', solutions_path %>
